* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #F5F7FB;
}

.container {
  text-align: center;
}

.checkbox {
  border: 0.794239px solid #4D5B9E;
  border-radius: 8px;
  background: #F5F7FB;
  padding: 10px;
  margin: 0 2px 0 2px;
}

.check {
  margin: 30px 0 30px 0;
  background: #4D5B9E;
  padding: 14px 28px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.question {
  margin-top: 50px;
  color: #293264;
}
.scored {
  margin: 30px 150px 0 150px;
  border-radius: 8px;
  padding: 5px 0 5px 0;
  background: #ff6666;
}
